.container {
	padding: 20px;
}

.books {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	padding: 3px;
}

.books td, .books th {
	border: 1px solid rgb(128, 128, 128);
	padding: 3px;
	 font-weight: 300;
    font-size: 20px;
}

.books tr:nth-child(even) {
	background-color: #808080;
}

.books tr:hover {
	background-color: #ddd;
}

.books th {
	padding-top: 6px;
	padding-bottom: 6px;
	text-align: center;
	background-color: #04AA6D;
	color: rgb(0, 0, 64);
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Roboto', sans-serif;
}

.header {
	padding: 1px;
	text-align: center;
	background: #1abc9c;
	color: crimson;
	font-family: Arial;
	font-size: 30px;
	border: 2px solid blue;
}

.btn1 {
	text-align: right;
	border: 1;
	padding-bottom: 0px;
	
	margin-right:10px;
}

.mybtn {
	box-shadow: inset 0px 0px 15px 3px #23395e;
	background: linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color: #2e466e;
	border-radius: 17px;
	border: 1px solid #1f2f47;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	padding: 6px 13px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #263666;
}

.mybtn:hover {
	background: linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color: #415989;
}

.mybtn:active {
	position: relative;
	top: 1px;
}

.homeimg {
	padding: 0px;
	position: absolute;
	left: 10px;
	cursor: pointer;
	border-radius: 8px;
	width: 450px;
	height: 190px;
	top: 10px;
}
.input {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}

.input:focus {
	background-color: #ddd;
	outline: none;
}

.insert {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}

.insert:focus {
	background-color: #ddd;
	outline: none;
}

.wrapper {
	position: absolute;
	width: 40%;
	top: 22%;
	left: 25%;
}
.d1 {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
  margin-top:3%;
  margin-left:1%
  

}



label {
  margin-bottom: 10px;
  display: block;
}

.col1 {
  -ms-flex: 40%; /* IE10 */
  flex: 50%;
  display: inline-block;
}

.col2 {
  -ms-flex: 55%; /* IE10 */
  flex: 55%;
  display: inline-block;
}


.col1,
.col2 {
  padding: 0 16px;
}

.list_table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
.list_table th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
.tbl-header td{
  padding:15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}
::-webkit-scrollbar {
    width: 8px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}
.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}
